<html>
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
    

<body>
<div id="root" />

        <script type="text/babel">
        
        const List = (props) => {
            console.log(props)
            let items_list = props.items.map((item) => {
                return <li onClick={props.clickHandler} key={item._id} id={item._id}>{item.title}</li>
            });
            return (
                <div>
                    Film List
                    <ul>
                    {items_list}
                    </ul>
                </div>
                );
        }

        const Detail = (props) => {
            return (
                <div>
                <form>
                title: <input type="text" onChange={props.change} placeholder="title" name="title" value={props.item.title || ""}/><br/>
                year: <input type="text" onChange={props.change} placeholder="year" name="year" value={props.item.year || ""}/><br/>
                country: <input type="text" onChange={props.change} placeholder="country" name="country" value={props.item.country || ""}/><br/>
                director: <input type="text" onChange={props.change} placeholder="director" name="director" value={props.item.director || ""}/><br/>
                studio: <input type="text" onChange={props.change} placeholder="studio" name="studio" value={props.item.studio || ""}/><br/>
                </form>

                <button onClick={props.save}>Save</button>  <button onClick={props.reset}>Reset</button> <button onClick={props.delete}>Delete</button>
                </div>
                )
        }
        
        class App extends React.Component{
            constructor(props) {
                super(props);
                this.state = {
                    items: {{{films}}},
                    curItem: {}
                };
                this.showDetail = this.showDetail.bind(this);
                this.changeHandler = this.changeHandler.bind(this);
                this.resetHandler = this.resetHandler.bind(this);
                this.saveHandler = this.saveHandler.bind(this);
                this.deleteHandler = this.deleteHandler.bind(this)
                } 

        // show item details when list item clicked
        showDetail(event){
            console.log(event.target)
        // event.target is item clicked. Assumes each item has an id attribute
        let editItem = this.state.items.find((item) => {
          return item._id == event.target.id;
        });
        this.setState({curItem: editItem});
      }

      changeHandler(event) {
        var newItem = this.state.curItem;
        newItem[event.target.name] = event.target.value
        this.setState({curItem: newItem});
      }
      saveHandler() {
        let newItem = this.state.curItem;
        if (!newItem.title) {
          return;
        }
        fetch("/api/movies/add/", {
          method: "POST",
        	headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify(newItem)
        }).then(res => res.json())
        	.then((json) => {
          let newData;
          if (!newItem._id) { // add new item to array
            newData = this.state.items;
            newItem._id = json._id;
            newData.push(newItem);
          } else { // update existing item 
            newData = this.state.items.map((item) => {
              if (item._id === newItem._id) {
                item = newItem; 
              }
              return item;
            });          
          }
  
          // Update state with new array
          this.setState({items: newData});
        });
      }
        deleteHandler(){
        let id = this.state.curItem._id;
        
        fetch("/api/movies/remove/" + id).then((response) => {
          return response.json();
        }).then((results) => {
          // Filter all items except the one to be removed
          const remainder = this.state.items.filter((item) => {
            return item._id !== id;
          });
          // Update state with new array
          this.setState({items: remainder, curItem: {}});
        });
      }

      // clear details form
      resetHandler() {
        this.setState({curItem: {}});
      }

      render() {
            return (
                <div>
                     <div className="flex-container">
                    <List items = {this.state.items} clickHandler={this.showDetail} />
                    <Detail item = {this.state.curItem} change={this.changeHandler} reset={this.resetHandler} delete={this.deleteHandler} save={this.saveHandler}/>
                </div>
                    </div>
            );
            }
    }
      

    const ItemList = ({items, filter, show}) => {
      // return items that match search entry field, or all items if no entry
      const itemNodes = items.map((item) => {
        if (!filter || item.title.toLowerCase().includes(filter)) { 
          return <li id={item._id} key={item._id} onClick={show}>{item.title}</li>
        }
      });
      return <span id="item-list"><ul>{itemNodes}</ul></span>;
    }



            ReactDOM.render( <App/>,
            document.getElementById('root'));
            </script>
</body>